.implement__inner {
    display: flex;
    margin: 0;
    margin-bottom: 150px;
    padding: 0;
    
}

.implement__inner__left {
    margin: 0;
    margin-right: 125px;
    margin-left: 165px;
    padding: 0;
}

.implement__image {
    padding: 0;
}

.implement__inner__right {
    max-width: 445px;
    width: 100%;
    margin-right: 260px;
    padding-top: 60px;
}

.implement__heading {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.3692307770252228px;
    text-align: left;
    font-family: 'DM Serif Display';
    color:#36536B ;
}

.implement__text {
    padding: 0;
    margin: 0;
    color: #6C8294;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    font-family: 'Public Sans';
    
}

.implement__image {
    width: 445px;
    height: 284px;
}

@media only screen and (max-width: 1060px) {
    .implement__inner__right {
        margin-top: -50px;
    }
}

@media only screen and (max-width:1030px) {
    .implement__inner {
        margin-bottom: 100px;
        flex-direction: column;
        align-items: center;
    }
    .implement__inner__left {
        margin: 0;
        margin-bottom: 48px;
        padding: 0;
    }
    .implement__heading {
        margin-right: -230px;
        text-align: center;
    }
    .implement__text {
        margin-right: -230px;
        text-align: center;
    }
}


@media only screen and (max-width:768px) {
    .implement__inner__right {
        max-width: 200px;
        width: 100%;
        padding: 0;
    }
    .implement__heading {
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.3692307770252228px;
    }
    .implement__image {
        width: 392px;
        height: 250px;
    }
}

@media only screen and (max-width:470px) {
    .implement__image {
        width: 328px;
        height: 209px;
    }

    .implement__heading {
        font-size: 36px;
        line-height: 36px;
    }

    .implement__text {
        width: 300px;
        margin-left: 60px;
    }
}
@media only screen and (max-width:425px) {
    .implement__image {
        margin-left: 200px;
    }

    .implement__inner__right {
        margin-left: 200px;
    }
}